
#nav {
    
    font-size: 20px;
   
    text-align: center;
    width: 100%;
    margin: auto;
    height: 3em;
    line-height: 3em;
   
  }
  
  #nav ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
  }
  
  #nav li {
    display: inline-block;
    padding-left: 0;
  }
  
  #nav a {
    
    transition: background-color 0.2s ease-in-out;
    position: relative;
    display: block;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    border-radius: 8px;
    color: rgb(80, 74, 74);
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.25em;
  }
  
  #nav a:hover {
    color: #fff !important;
    background: #8a8a8a;
  }
  
  #nav a.active {
    background:  #8a8a8a;
  }
  
  #nav a.active:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    margin-left: -0.75em;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    border-top: solid 0.6em #353434;
  }
  




